<!-- Begin one column window -->
<div class="onecolumn">
	<div class="header">
		<span>Stories</span>
	</div>
	<br class="clear"/>
	<div class="content">
		<form id="form_data" name="form_data" action="" method="post">
			<table class="data" width="100%" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th style="width:10px">
						<input type="checkbox" id="check_all" name="check_all"/>
						</th>
						<th style="width:30%">Name</th>
						<th style="width:20%">Description</th>
						<th style="width:30%">Date</th>
						<th style="width:15%">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @stories.each do |story| %>
					<tr>
						<td>
						<input type="checkbox"/>
						</td>
						<td><%= link_to story.name,story_path(story) %></td>
						<td><%= story.description %></a></td>
						<td>Coming Soon..</td>
						<td><%= link_to image_tag("icon_edit.png"), edit_story_path(story) %><%= link_to image_tag("icon_delete.png"), story, :method => :delete %></p></td>
						<!--
						-->
					</tr>
			<% end %>
				</tbody>
			</table>
			
			<div id="chart_wrapper" class="chart_wrapper"></div>
			<!-- End bar chart table-->
		</form>
		<!-- Begin pagination -->
		<div class="pagination">
			<a href="#">«</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">»</a>
		</div>
		<!-- End pagination -->
	</div>
</div>

<div class="onecolumn">
	<div class="header">
		<span>Activities</span>
	</div>
	<br class="clear"/>
	<div class="content">
		<form id="form_data" name="form_data" action="" method="post">
			<table class="data" width="100%" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th style="width:10px">
						<input type="checkbox" id="check_all" name="check_all"/>
						</th>
						<th style="width:30%">User</th>
						<th style="width:20%">Action</th>
						<th style="width:30%">Date</th>
					
					</tr>
				</thead>
				<tbody>
					<% @activities.each do |activity| %>
					<tr>
						<td>
						<input type="checkbox"/>
						</td>
						<td><%= activity.user.name %></td>
						<td><%= activity.action.action_type %></td>
						<td><%= activity.created_at %></td>
						<!--
						-->
					</tr>
			<% end %>
				</tbody>
			</table>
			
			<div id="chart_wrapper" class="chart_wrapper"></div>
			<!-- End bar chart table-->
		</form>
		<!-- Begin pagination -->
		<div class="pagination">
			<a href="#">«</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">»</a>
		</div>
		<!-- End pagination -->
	</div>
</div>
<!-- End one column window -->
im still working
