<h1>Edit Picture</h1>
<%= form_for(@picture) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="onecolumn">
	<div class="header">
		<span></span>
	</div>
	<br class="clear"/>
	<div class="content">
		<br class="clear"/>
		<h2>Picture Info</h2>
		<br/>
		<p>
			<%= f.label :name %>
			<br />
			<%= f.text_field :name %>
		</p>
		<br/>
		<p>
			<%= f.label :description %>
			<br />
			<%= f.text_field :description %>
		</p>
		<br/>
		<br/>
		<p>
			<%= f.submit "Update Picture" %>
		</p>
	</div>
	<% end %> <!-- End left column window -->
