<!DOCTYPE html>
<html>
<head>
 	<%= csrf_meta_tag %>
 	<title><%= @title %></title>
	<%= render 'layouts/stylesheets' %>
	<%= render 'layouts/javascripts' %>
	  </head>
	  <body>
	<%= yield %>
</body>
</html>